// Pipeline parameters

params {
    input = '/kyukon/home/gent/422/vsc42287/BIT11/sync/HPC_scripts/run_nf_pacvar/samplesheet_Twist_wgs.csv'
    outdir = '/kyukon/data/gent/vo/000/gvo00082/research/ICT/VAL/Revio_PureTarget/analysis_SVS/pacvar/RUN_0XX_r84299_20251021_160234_Twist_wgs'

    genome = 'GATK.GRCh38' 
    intervals = '/kyukon/home/gent/422/vsc42287/BIT11/sync/HPC_scripts/puretarget_analysis/roi/Alliance_Dark_Genes_LR_Pnl_TargetsCaptured_hg38_ann.bed'
    snv_caller = 'deepvariant'

    skip_demultiplexing = true
    workflow = 'wgs'
}


// Pipeline configuration

process {
    executor = 'local'
    withName: PBMM2_ALIGN {
        ext.args = '--preset HiFi --sort --unmapped --min-gap-comp-id-perc 70.0 --min-length 50'
    }
}


// Other

cleanup = true
