// Pipeline parameters

params {
    input =     '/kyukon/home/gent/422/vsc42287/BIT11/sync/HPC_scripts/run_nf_pacvar/samplesheet_Twist_demux.csv'
    outdir =    '/kyukon/data/gent/vo/000/gvo00082/research/ICT/VAL/Revio_PureTarget/analysis_SVS/pacvar/Twist_demux'

    fasta =     '/kyukon/data/gent/vo/000/gvo00082/research/ICT/VAL/Revio_PureTarget/hg38-noalt.fa'
    fasta_fai = '/kyukon/data/gent/vo/000/gvo00082/research/ICT/VAL/Revio_PureTarget/hg38-noalt.fa.fai'
    intervals = '/kyukon/home/gent/422/vsc42287/BIT11/sync/HPC_scripts/puretarget_analysis/roi/PureTarget_Twist_overlap.bed'
    barcodes =  '/kyukon/home/gent/422/vsc42287/BIT11/sync/HPC_scripts/lima_demultiplex/Amplifi_TwistUDIadapters_noP7P5_subset.fasta'

    skip_demultiplexing = false
    workflow = 'repeat'
}


// Pipeline configuration

process {
    executor = 'local'

    withName: LIMA {
        container = 'https://depot.galaxyproject.org/singularity/lima:2.13.0--h9ee0642_0'
        ext.args = '--neighbors --split-named'
    }
    withName: TRGT_GENOTYPE {
        container = 'https://depot.galaxyproject.org/singularity/trgt:4.0.0--h9ee0642_0'
        ext.args = '--preset targeted --flank-len=300 --genotyper cluster'
        cpus = 32
    }
    withName: TRGT_PLOT {
        container = 'https://depot.galaxyproject.org/singularity/trgt:4.0.0--h9ee0642_0'
        ext.args = '--plot-type waterfall'
    }
    withName: PBMM2_ALIGN {
        ext.args = '--preset HiFi --sort --unmapped --min-gap-comp-id-perc 70.0 --min-length 50'
    }
}


// Other

cleanup = true
