// Pipeline parameters

params {
    outdir = '/kyukon/home/gent/422/vsc42287/BIT11/local_output/pacvar_test_config'
    repeat_id = 'C9ORF72'
}


// Pipeline configuration

process {
    executor = 'local'
    withName: TRGT_GENOTYPE {
        container = 'https://depot.galaxyproject.org/singularity/trgt:4.0.0--h9ee0642_0'
    }
    withName: TRGT_PLOT {
        container = 'https://depot.galaxyproject.org/singularity/trgt:4.0.0--h9ee0642_0'
    }
}


// Other

cleanup = true
