// Pipeline parameters

params {
    input = '/kyukon/home/gent/422/vsc42287/BIT11/sync/HPC_scripts/run_nf_pacvar/samplesheet_giab.csv'
    outdir = '/kyukon/data/gent/vo/000/gvo00082/research/ICT/VAL/Revio_giab/pacvar_wgs/DNA117304'

    skip_demultiplexing = true
    workflow = 'wgs'
}

// Pipeline configuration

process {
    executor = 'local'
}

// Other

cleanup = true
