// Pipeline parameters

params {
    input = 'samplesheet_RUN_010_single.csv'
    outdir = '/kyukon/data/gent/vo/000/gvo00082/research/ICT/VAL/Revio_PureTarget/analysis_SVS/pacvar/RUN_010_r84299_20250604_141714_rid_multi'
    fasta = '/kyukon/data/gent/vo/000/gvo00082/research/ICT/VAL/Revio_PureTarget/hg38-noalt.fa'
    fasta_fai = '/kyukon/data/gent/vo/000/gvo00082/research/ICT/VAL/Revio_PureTarget/hg38-noalt.fa.fai'
    intervals = '/kyukon/data/gent/vo/000/gvo00082/research/ICT/VAL/Revio_PureTarget/bin/roi/PureTarget_repeat_expansion_panel_1.0.repeat_definition.GRCh38.bed'
    repeat_id = 'DMPK,FMR1,C9ORF72'

    skip_demultiplexing = true
    workflow = 'repeat'
}


// Pipeline configuration

process {
    executor = 'local'

    withName: TRGT_GENOTYPE {
        container = 'https://depot.galaxyproject.org/singularity/trgt:4.0.0--h9ee0642_0'
        ext.args = '--preset targeted --flank-len=300 --genotyper cluster'
    }
    withName: TRGT_PLOT {
        container = 'https://depot.galaxyproject.org/singularity/trgt:4.0.0--h9ee0642_0'
        ext.args = '--plot-type waterfall'
    }
    withName: PBMM2_ALIGN {
        ext.args = '--preset HiFi --sort --unmapped --min-gap-comp-id-perc 70.0 --min-length 50'
    }
}


// Other

cleanup = true
