/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBMM2_ALIGN' {
        ext.prefix = { "${meta.id}.aligned" }
    }

    withName: 'PBSV_CALL' {
        ext.prefix = { "${meta.id}.sv" }
    }

    withName: 'LIMA' {
        ext.args = '--split-named'
    }

    withName: 'DEEPVARIANT_RUNDEEPVARIANT' {
        ext.args = '--model_type=PACBIO'
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: 'BCFTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: 'SAMTOOLS_SORT_TRGT' {
        ext.prefix = {"${meta.id}.trgt.sorted"}
    }

    withName: 'TABIX_BGZIP' {
        ext.prefix = {"${meta.id}.sv"}
    }

    withName: '.*:BAM_SV_VARIANT_CALLING:BCFTOOLS_INDEX' {
        ext.prefix = { "${meta.id}.sv" }
    }

    withName: 'HIPHASE_SV' {
        ext.prefix = {"${meta.id}.sv"}
    }

    withName: 'HIPHASE_SNP' {
        ext.prefix = {"${meta.id}.snv"}
    }


    withName: 'GATK4_HAPLOTYPECALLER' {
        ext.prefix = {"${meta.id}.snv"}
    }

    withName: 'DEEPVARIANT' {
        ext.prefix = {"${meta.id}.snv"}
    }
}
