// Pipeline parameters

params {
    outdir = '/home/svdsompe/BIT11/local_output/pacvar_test'
    input = '/home/svdsompe/BIT11/sync/WSL2_scripts/run_nf_pacvar/samplesheet_merge_no_fail.csv'
}


// Pipeline configuration

process {
    executor = 'local'

    // Override CPU and memory requirements to match WSL2 resource limits
    cpus = 4        
    memory = 6.GB

    // Override CPU and memory requirements to match WSL2 resource limits
    withName: PBMM2_ALIGN {
        cpus = 4
        memory = 6.GB
    }
    withName: SAMTOOLS_SORT {
        cpus = 4
        memory = 6.GB
    }
    withName: SAMTOOLS_INDEX {
        cpus = 4
        memory = 6.GB
    }
    withName: TRGT_GENOTYPE {
        cpus = 4
        memory = 6.GB
        container = 'https://depot.galaxyproject.org/singularity/trgt:4.0.0--h9ee0642_0'
    }
    withName: BCFTOOLS_SORT {
        cpus = 4
        memory = 6.GB
    }
    withName: BCFTOOLS_INDEX {
        cpus = 4
        memory = 6.GB
    }
    withName: TRGT_PLOT {
        cpus = 4
        memory = 6.GB
        container = 'https://depot.galaxyproject.org/singularity/trgt:4.0.0--h9ee0642_0'
    }
    withName: MULTIQC {
        cpus = 4
        memory = 6.GB
    }
}


// Other

cleanup = true
